<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.appsforprogress.android.mycareerpath"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".SkillListActivity">
            <!-- Indicate that this is the Activity to launch.-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".SkillScrollerActivity"
            android:label="@string/app_name"
            android:parentActivityName=".SkillListActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

    </application>

</manifest>
